@import "tailwindcss";
html {
  scroll-behavior: smooth;
}

@font-face {
  font-family: "clean-bold";
  src: url("../fonts/AdobeClean-Bold.otf") format("opentype");
  font-style: normal;
}

@font-face {
  font-family: "clean-regular";
  src: url("../fonts//AdobeClean-Regular.otf") format("opentype");
  font-style: normal;
}


@font-face {
  font-family: "satoshi-regular";
  src: url("../fonts/Satoshi-Regular-CPM9dct4.woff2") format("opentype");
  font-style: normal;
}



@font-face {
  font-family: "staatliches";
  src: url("../fonts/Staatliches-Regular.ttf") format("opentype");
  font-style: normal;
}


@font-face {
  font-family: "font1";
  src: url("../fonts/HI_OiY8KO6hCsQSoAPmtMYebvpCfOMPT.woff2") format("opentype");
  font-style: normal;
}


@font-face {
  font-family: "font2";
  src: url("../fonts/-W_gXIrsVjjeyEnPC45qD2NoFPtBE0xCh2AOrR8P-8B_dw.woff2") format("opentype");
  font-style: normal;
}
